*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}
/* header */
header{
    width: 100%;
    height: 70px;
    position: fixed;
    background-color: black;
    z-index: 10;
}


/* main */
main{
    display: flex;
}
nav{
    width: 200px;
    height: calc(100vh - 70px);
    background-color: red;
    z-index: 20;
}



/* footer */
footer{
    height: 70px;
    width: 100%;
    background-color: blue;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}