*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: hidden;
    overflow-x: hidden;
}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
/* header */
header{
    width: 100%;
    height: 50px;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.671);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    filter: opacity(0.9);
}
.upgrade{
    margin-right: 10px;
    border: solid 1px white;
    padding: 8px 15px;
    border-radius: 20px;
    font-size: 9px;
    margin-right: 30px;
}
.upgrade:hover{
    font-size: 14px;
}
header a{
    color: white;
    display: block;
}

/* main */
main{
    display: flex;
}
.leftmenu{
    width: 140px;
    height: calc(100vh - 50px);
    background-color: black;
    z-index: 20;
    color: #a3a3a3;
    font-size: 10px;
}
.notoverflw{
    height: 25%;
    font-size: 10px;
}
.overflow{
    height: 60%;
}
.logo{
    width: 60%;
    margin-top: 10px;
    margin-left: 5px;
}
.leftmenu nav{
    margin-top: 3px;
}
.leftmenu li{
    text-decoration: none;
    padding-left: 10px;
    margin-top: 5px;
}
.leftmenu:hover a:hover{
    color: white;
}
.leftmenu h4{
    padding-left: 10px;
    color: white;
    padding-bottom: 3px;
}
.here{
    border-left: solid 2px #9ee92d;
}
.here img{
    filter: none;
}
.leftmenu .here a{
    color: white;
}
.leftmenu a{
    color: #a3a3a3;
    display: flex;
    align-items: center;
}
.fa-plus{
    background-color: #a3a3a3;
    color: black;
    padding: 5px;
    font-size: 13px;
    margin-right: 10px;
    margin-left: 10px;
}
.leftmenu ul  i:hover{
    background-color: white;
}
.icon{ 
    margin-right: 5px;
    height: 20px;
    filter: opacity(0.5);
}
.menufoot{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 15%;
    padding-left: 5px;
}
.download{
    font-size: 10px;
    padding: 4px;
    padding-left: 0;
    padding-top: 6px;
}
.download img{
    height: 18px;
}
.login{
    margin-top: 8px;
    padding: 4px;
}
.login .icon{
    background-color: grey;
    border-radius: 50%;
    filter: none;
}
.overflow ul{
    height: 100%;
}
.overflow ul:hover{
    overflow-y: scroll;
}
.menufoot hr{
    margin-right: 20px;
    background-color: #a3a3a3;
}
.logo-small .icon{
    filter: none;
}


.mainpart{
   padding-top: 50px;
    width: calc(100% - 140px);
    background-color: #141922;
    overflow-y: scroll;
    padding-left: 20px;
    margin-bottom: 60px;
    height: calc(100vh - 50px);
}
.mainpart nav{
    width: 100%;
}
.mainpart nav ul{
    display: flex;
    justify-content: center;
    margin-top: 8px;
    flex-wrap: wrap;
}
.mainpart nav ul li a{
    color: #a3a3a3;
}
.mainpart nav ul li a:hover{
    color: white;
}
h2{
    font-size: 18px;
    margin-top: 15px;
}
.mainpart .row{
    margin-top: 15px;
    display: flex;
}

.greensignal{
   display: flex;
   flex-direction: column;
   align-items: center;
   overflow-x: hidden;
   font-size: 9px;
   margin: 4px;
}
.heregreen{
    width: 30px;
    height: 2px;
    background-color: #9ee92d;
    margin-top: 2px;
}
.colonna{
    width: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: auto;
}
.colonna:hover{
    cursor: pointer;
}
.row img{
    width: 100%;
}
.rounded{
    border-radius: 50%;
}
.playsong{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.playmain{
    display: none;
    font-size: 40px;
    color: white;
    border: 3px solid white;
    border-radius: 50%;
}
.playmain .fa-play{
    width: 40px;
    padding-left: 8px;
}
.colonna img:hover{
    filter: opacity(0.3);
}
.colonna img:hover + .playmain{
    display: flex;
    z-index: 30;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.subtitle{
    color: #a3a3a3;
}
.short{
    max-width: 365px;
}


/* footer */
footer{
    height: 50px;
    width: 100%;
    background-color: #282828;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 30;
    display: flex;
}
.playimage{
    height: 40px;
}
footer div{
    display: flex;
    align-items: center;
}
.play div:hover{
    text-decoration: underline;
    cursor: pointer;
}
.asidefoot{
    width: 25%;
    padding: 0 15px;
}
.asidefoot a{
    color:#a3a3a3;
}
.midfoot{
    width: 50%;
}
.play{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    font-size: xx-small;
    align-items: flex-start;
}
.play div,.play i{
    color: #a3a3a3;
}
.asidefoot i:hover{
    color: white;
}
.asidefoot i{
    font-size: 14px;
    margin: 0 10px;
    padding: 1px;
}
.midfoot{
    padding-top: 5px;
    display: flex;
    flex-direction: column;
}
.pulsanti{
    width: 30%;
}
.time{
    height: 50%;
    align-items: center;
    justify-content: center;
}
.time a{
    margin: auto;
}
.time i{
    font-size: 14px;
    color: white;
}
footer .fa-play{
    width: 23px;
    border: 2px solid white;
    border-radius: 50%;
    padding: 2px 5px;
}
.smalline{
    width: 8vw;
    background-color:rgba(255, 255, 255, 0.836);
    height: 4px;
    border-radius: 10px;
    margin-left: 5px;
}
.smalline:hover{
    background-color: #9ee92d;
    cursor: pointer;
    width: calc(8vw - 15px);
}
.smalline:hover + .circletime{
    display: flex;
}
.circletime{
    display: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
}
.largeline{
    width: 12vw;
    background-color: rgba(169, 169, 169, 0.324);
    height: 3px;
    border-radius: 10px;
    margin-right: 5px;
}
.rfoot{
    display: flex;
    justify-content: flex-end;
}
.rfoot i{
    font-size: 11px;
    margin: 0 4px;
}
.rfoot .smalline{
    margin-left: 8px;
    width: 2vw;
}
.rfoot .smalline:hover{
    width: calc(2vw - 15px);
}
.rfoot .largeline{
    width: 5vw;
    margin-right: 3px;
}

.menushort{
    display: none;
}
.menufootshort{
    display: none;
}
.midfoot i:hover{
    animation: rotate 5s;
}


@keyframes rotate {
    100%{
        transform: rotate(360deg);
    }
}

@media screen and (min-width:700px) and (max-width:1200px){
.row{
    flex-wrap: wrap;
    height: 199px;
}
.colonna{
    margin-right: 2vw;
}
}

@media screen and (max-width:700px){
    .row{
        flex-wrap: wrap;
    }
    .colonna{
        margin-right: 2vw;
    }
    .leftmenu{
        width: 40px;
    }
    .mainpart{
        width: calc(100% - 40px);
    }
    .notoverflw, .overflow, .menufoot{
        display: none;
    }
    .menushort{
        display: block;
        height: 200px;
    }
    .menushort img{
        width: 70%;
    }
    .asidefoot{
        margin: auto;
        padding: 0;
        width: 30%;
    }
    .midfoot{
        width: 40%;
    }
    .pulsanti{
        width: 80%;
    }
    .menufootshort{
        display: flex;
        flex-direction: column;
        height: calc(100% - 200px);
        align-items: center;
        justify-content: flex-end;
    }
    .download img{
       width: 25px;
       height: auto;
    }
    .playimage{
        display: none;
    }
}
@media screen and (max-height:500px){
    .notoverflw{
        height: 85%;
    }
    .overflow{
        display: none;
    }
}
